.margin-10
{
    margin:10px;
}
.dataTables_filter{
    float:right;
}
.dataTables_length{
    float:left;
}
.theadbg{
    background: #32323d !important;
}

#overlay{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}
#overlay img{
	height: 70px;
	width: 70px;
}
.table thead th i{
    margin-left: 0 !important;
}